* {
    margin: 0;
    padding: 0;
}

.main-page {
    position: absolute;
    width: 100%;
    height: 541.67px;
    left: 0;
    top: 0;
    background: #E0F6F8;
    border-radius: 0px 0px 166.667px 0px;
}


.logo {
    display: flex;
}

.logo img {
    position: relative;
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
    display: flex;
    transition: 1.3s ease-in-out;
}

.logo img:nth-child(1):hover {
    transform: translateY(-120px);
}

.logo img:nth-child(2) {
    position: relative;
    left: -25px;
    top: 5px;
    width: 90px;
    height: 90px;
}

.logo p {
    position: relative;
    height: 30px;
    left: -25px;
    top: 15px;
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.3rem;
    line-height: 28px;
    color: #000000;
}

.nav-bar {
    display: flex;
    /* width: 100%; */
}

.nav-bar ul {
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 2px;
}

.nav-bar ul li {
    list-style: none;
    margin: 22px;
    height: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar ul li a {
    text-decoration: none;
    /* width: 69px; */
    /* height: 20px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16.6667px;
    /* line-height: 20px; */
    color: #5B5C68;
    display: flex;
    /* flex: none; */
    /* order: 2; */
    /* flex-grow: 0; */
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
}

.nav-bar ul li a:hover {
    transform: translateY(-4px);
    color: #000000;
}

.intro-heading {
    display: flex;
    width: 320px;
    height: 55px;
    position: relative;
    top: 120px;
    left: 100px;
}

.intro-heading p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: bolder;
    font-size: 20.8333px;
    line-height: 26px;
    color: #3D1541;
    z-index: 9;
}

.into-heading-button {
    width: 320px;
    height: 50px;
    position: relative;
    top: 120px;
    left: 100px;
    z-index: 9;
}

#hire-me-anchorHeading {
    position: relative;
    left: 0;
    display: flexbox;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
}

.into-heading-button input {
    width: 113px;
    height: 34px;
    background: #75406A;
    border-radius: 0px 8px;
    border-style: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 9px;
    position: relative;
    left: -10px;
    cursor: pointer;
}

.into-heading-button input:nth-child(1):hover {
    background: #67395e;
    box-shadow: none;
    transition: 0.5s;
}

.into-heading-button a {
    display: contents;
}

.into-heading-button:hover {

    box-shadow: 10px solid #5B5C68;
}

.into-heading-button input:nth-child(2) {
    background: #739874;
}

#hire-me {
    background: #739874;
}

#hire-me:hover {
    background: #6c8e6d;
    box-shadow: none;
    transition: 0.5s;
}

.into-heading-button input[value] {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.into-heading-button input {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.man-img {
    display: flex;
    width: 15%;
    position: relative;
    top: 78px;
    left: 0;
}

.man-with-computer {
    position: absolute;
    top: 92px;
    right: 90px;
}

.man-with-computer img {
    position: relative;
    top: 0;
    height: 450px;
}

.dot-img {
    position: absolute;
    top: 80px;
    right: 600px;
}

.dot-img img {
    position: relative;
    width: 400px;
    display: flex;
    transition: 1s ease-in-out;
}

.dot-img img:hover {
    transform: translateX(120px);
}

/* ---------------------------second page ---------------- */

.second-page {
    width: 100%;
    height: 260px;
    position: relative;
    z-index: 9;
    top: 542px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* background: linear-gradient(60deg, #6BD1BC -100%, #ffffff 49%, #5FFBF1 400%); */
    background: linear-gradient(60deg, #00ccff -100%, #ffffff 49%, #5FFBF1 400%);
    /* box-shadow:
    inset 60px 0 120px #bfdde4,
    inset -60px 0 120px #5FFBF1; right cyan */

}

.intro-text {
    display: flex;
    width: 875px;
    height: 187px;
    align-items: center;
}

.intro-text p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.boy-lappy {
    position: relative;
    top: 78px;
    left: -65px;
    transition: 0.5s;
}

.boy-lappy:hover {
    transform: translateY(-10px);
}

.rocket {
    position: relative;
    right: -30px;
    top: -75px;
    display: flex;
    transition: 0.5s;
}

.rocket:hover {
    transform: translateY(-10px);
}

/* ----------------------Third Page------------ */
.third-page {
    position: relative;
    width: 100%;
    height: 277px;
    top: 540px;
    display: flex;
    /* background: #A3F9DF; */
    /* background-image: linear-gradient(to left top, #6bd1bc, #38cdd8, #1cc6f2, #58b9ff, #97a8ff, #9daaff, #a3adff, #a8afff, #7ac6ff, #47dbff, #33edff, #5ffbf1); */
    /* background:linear-gradient(160deg,#6BD1BC 10%,#FDFDF1 49%,#5FFBF1 100%); */
    background: linear-gradient(160deg, #6BD1BC -100%, #ffffff 49%, #5FFBF1 300%);
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.experience {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.experience p {
    position: relative;
    display: flex;
    margin: 100px 100px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 25px; */
    text-align: center;
}

.men-laptop {
    position: absolute;
    top: 145px;
    /* left: -120px; */
    left: 0;
    z-index: 1;
    display: flex;
    transition: 0.5s ease-in-out;
}

.men-laptop:hover {
    transform: translateX(30px);
}

.boy-sitting {
    position: absolute;
    top: 136px;
    right: 120px;
    display: flex;
    transition: 0.5s ease-in-out;
}

.boy-sitting img {
    position: absolute;
    left: -65px;
}

.boy-sitting:hover {
    transform: translateX(-30px);
}

/* --------------------Footer ---------------- */
/* 
.footer {
    position: relative;
    top: 540px;
    width: 100%;
    height: 120px;
    
    background:linear-gradient(50deg,#000000 50%,#FFFFD0 50%);
    display: flex;
} */
/* background: linear-gradient(60deg, #6BD1BC -200%, #ffffff 49%, #5FFBF1 400%); */

/* .footer img {
    width: 300px;
    height: 300px;
}
.left-footer-heading{
    display: flex;
}
.left-footer-heading p{
    font-family: 'PT Mono',monospace;
    height: 70px;
    position: relative;
    top: 0;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 20px;
    overflow: hidden;
    color: #FFFFFF;
}
.footer-logo{
    position: absolute;
    display: flex;
    top: 60px;
    left: 20px;
    width: 23.5%;
    height: 40px;
}
.footer-logo img{
    position:relative;
    top: -10px;
    left: 0;
    width: 25px;
    height: 25px;
    display: flex;
    margin: 20px;
}
.right-footer-heading{
    position: absolute;
    right: 170px;
    text-decoration: none;
}
.right-footer-heading a{
    text-decoration: none;
    color: #000000;
}
.right-footer-heading p:nth-child(1){
    margin-top: 12px;
    font-size: 1.3rem;
    font-family: 'PT Mono',monospace;
    font-weight: bolder;
}
.copyright{
    position: relative;
    margin-top: 100px;
    margin-left:100px;
    height: 20px;
}

.copyright p{
    color: #FFFFFF;
    position: relative;
} */

/* body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #000000;
    
} */
/* .footer{
    position: relative;
    top: 540px;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    z-index: 1;
    display: flex;
    justify-content: center;
} */
.footer {
    position: relative;
    top: 540px;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background: linear-gradient(45deg, #D6CCF2, #a4ece7, #FDFDEF, #9A74B8);
    min-height: 100px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-size: 300% 300%;
    opacity: 0.7;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon li {
    list-style: none;
}

.social-icon li a {
    font-size: 2em;
    /* color: #fff; */
    color: #000000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon li a:hover {
    transform: translateY(-8px);
}

.copyright {
    position: absolute;
    display: flex;
    margin-top: 75px;
}

.copyright p {
    /* color: #fff; */
    color: #000000;
    text-align: center;
    font-size: 1em;
    font-family: 'PT Mono';
    transition: 0.5s;
}

/* .footer .wave{
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: url(img/wave.png);
    background-size: 1000px 50px;
}
.footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
.footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
} */
@media screen and (max-width:300px) {
    .intro-heading {
        left: 20px;
        width: 200px;
    }

    .intro-heading p {
        font-size: 0.5em;
    }

    .into-heading-button {
        left: 20px;
        width: 200px;
    }

    .into-heading-button input {
        width: 90px;
    }

    #man-with-computer {
        position: absolute;
        width: 264px;
        height: 264px;
        margin-top: 187px;
    }
}

@media screen and (max-width:430px) {
    .main-page {
        border-radius: 0;
    }

    .intro-heading {
        width: 250px;
    }

    .intro-heading p {
        font-size: 1em;
    }

    .into-heading-button {
        width: 250px;
    }

    .into-heading-button input {
        width: 100px;
    }

    .man-with-computer {
        width: 370px;
        height: 200px;
        top: 250px;
        /* left: -78px; */
    }

    .man-with-computer img {
        right: -60px;
        width: 330px;
        /* height: 370px; */
    }

    .man-img {
        display: none;
    }

    .dot-img img {
        display: none;
    }
}

@media screen and (min-width:430px) and (max-width:600px){
    .man-img{
        display: none;
    }
    .main-page{
        border-radius: 0;
    }
}

@media screen and (max-width:700px) {
    .nav-bar ul {
        display: none;
    }

    .dot-img img {
        top: 30px;
        left: 400px;
        width: 300px;
    }

    .logo img:nth-child(1) {
        display: none;
    }

    .logo img:nth-child(2) {
        left: 30px;
    }

    .main-page {
        height: 700px;
    }

    .man-img {
        /* display: none; */
        top: 265px;
    }

    .man-with-computer {
        width: 370px;
        height: 200px;
        top: 250px;
        /* left: -78px; */
    }

    .man-with-computer img {
        width: 370px;
        /* height: 370px; */
    }

    /* .second-page{
        height: 300px;
    } */
    .boy-lappy {
        left: 0;
    }

    .boy-lappy img {
        position: relative;
        top: 20px;
        width: 100px;
        height: 100px;
    }

    .rocket {
        right: 0;
    }

    .rocket img {
        position: relative;
        width: 100px;
    }

    .intro-text p {
        font-size: 0.7rem;
    }

    .men-laptop {
        right: 0;
    }

    .men-laptop img {
        position: relative;
        top: 106px;
        width: 100px;
    }

    .experience p {
        font-size: 0.7rem;
    }

    .boy-sitting img {
        width: 100px;
        top: 59px;
    }
}